doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Yuling's Porfolio
    link(rel='stylesheet', href='public/css/style.css')
  body
    header.overflow-hidden 
        .container
            a.icon-menu(href="#") menu 
            h1
             a(href='index.html') Yuling's Porfolio
            nav
                ul
                    li
                        a(href='about-us.html') 關於我
                    li
                        a(href='design-list.html') 平面作品
                    li
                        a(href='web-design-list.html') 網頁設計作品
                    li
                        a(href='contact-us.html') 聯絡我
    // header end
    .container 123
        .row 
            h2 關於我
        .row 
            .col-12.col-md-6 
                    img.img-fluid.img-rounded(src='https://picsum.photos/300/300', alt='')
            .col-12.col-md-6 02
        .row 
            .col-12.col-md-6 
                    img.img-fluid.img-rounded(src='https://picsum.photos/300/300', alt='')
            .col-12.col-md-6.order-md-1 02            
    footer
        .container
            .row.text-center
                dl.col-12.col-md-3
                    dt 標題01
                    dd
                        a(href='#') 項目01
                    dd
                        a(href='#') 項目02
                    dd
                        a(href='#') 項目03
                    dd
                        a(href='#') 項目04
                dl.col-12.col-md-3
                    dt 標題02
                    dd
                        a(href='#') 項目01
                    dd
                        a(href='#') 項目02
                    dd
                        a(href='#') 項目03
                    dd
                        a(href='#') 項目04
                dl.col-12.col-md-3
                    dt 標題03
                    dd
                        a(href='#') 項目01
                    dd
                        a(href='#') 項目02
                    dd
                        a(href='#') 項目03
                    dd
                        a(href='#') 項目04
                dl.col-12.col-md-3
                    dt 標題04
                    dd
                        a(href='#') 項目01
                    dd
                        a(href='#') 項目02
                    dd
                        a(href='#') 項目03
                    dd
                        a(href='#') 項目04
            // <p class="copyright text-center">copyright</p>
            p.copyright.text-center 本網站只供學習使用，不用於商業用途    