doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Yuling's Porfolio
    link(rel='stylesheet', href='public/css/style.css')
  body
    header 
      .container
        .row.flex-space-between
          h1
            a(href='index.html') Yuling's Porfolio
          a.icon-menu(href="#") menu 
          nav
            ul
              li
                a(href='about-us.html') 關於我
              li
                a(href='#') 平面設計
                ul.submenu 
                  li 
                    a(href="design-list.html") 品牌設計
                  li 
                    a(href="design-list.html") 包裝設計
              li
                a(href='#') 網頁設計
                ul.submenu 
                  li 
                    a(href="web-design-list.html") 品牌設計
                  li 
                    a(href="web-design-list.html") 包裝設計
              li
                a(href='contact-us.html') 聯絡我
    // header end
    img.img-fluid(src='https://picsum.photos/1920/480', alt='')
    // content start
    // .container>h1{最新作品一覽}+.row>.col-6.col-md-4.col-lg-3*6>img.img-fluid+p.title>a[href="#"]{標題$}^p.description{內容}
    .container
      h2.text-center 最新作品一覽
      .row
        // .col-6.col-md-4.col-lg-3*7>a>img[src="https://baconmockup.com/300/300" class="img-fluid img-rounded"]^p.title.text-center>a{作品標題$}^p.date.text-center{2022-6-15}
        .col-6.col-md-4.col-lg-3
          img.img-fluid.img-rounded(src='https://picsum.photos/300/300', alt='')
          p.title.text-center
            a(href='#') 作品標題1
          p.date.text-center 2022-06-15
        .col-6.col-md-4.col-lg-3
          img.img-fluid.img-rounded(src='https://picsum.photos/300/300', alt='')
          p.title.text-center
            a(href='#') 作品標題2
          p.date.text-center 2022-06-15
        .col-6.col-md-4.col-lg-3
          img.img-fluid.img-rounded(src='https://picsum.photos/300/300', alt='')
          p.title.text-center
            a(href='#') 作品標題3
          p.date.text-center 2022-06-15
        .col-6.col-md-4.col-lg-3
          img.img-fluid.img-rounded(src='https://picsum.photos/300/300', alt='')
          p.title.text-center
            a(href='#') 作品標題4
          p.date.text-center 2022-06-15
        .col-6.col-md-4.col-lg-3
          img.img-fluid.img-rounded(src='https://picsum.photos/300/300', alt='')
          p.title.text-center
            a(href='#') 作品標題5
          p.date.text-center 2022-06-15
        .col-6.col-md-4.col-lg-3
          img.img-fluid.img-rounded(src='https://picsum.photos/300/300', alt='')
          p.title.text-center
            a(href='#') 作品標題6
          p.date.text-center 2022-06-15
        .col-6.col-md-4.col-lg-3
          img.img-fluid.img-rounded(src='https://picsum.photos/300/300', alt='')
          p.title.text-center
            a(href='#') 作品標題7
          p.date.text-center 2022-06-15
    // content end
    // footer>.container>dl*4>dt{標題$$}+dd*4>a{項目$$}^^^p.copyright.text-center{copyright}
    // footer>.container>.row>dl.col-12 col-md-3*5>dt{標題$$}+dd*4>a{項目$$}^^^p.copyright.text-center{copyright}
    footer
      .container
        .row.text-center
          dl.col-12.col-md-3
            dt 標題01
            dd
              a(href='#') 項目01
            dd
              a(href='#') 項目02
            dd
              a(href='#') 項目03
            dd
              a(href='#') 項目04
          dl.col-12.col-md-3
            dt 標題02
            dd
              a(href='#') 項目01
            dd
              a(href='#') 項目02
            dd
              a(href='#') 項目03
            dd
              a(href='#') 項目04
          dl.col-12.col-md-3
            dt 標題03
            dd
              a(href='#') 項目01
            dd
              a(href='#') 項目02
            dd
              a(href='#') 項目03
            dd
              a(href='#') 項目04
          dl.col-12.col-md-3
            dt 標題04
            dd
              a(href='#') 項目01
            dd
              a(href='#') 項目02
            dd
              a(href='#') 項目03
            dd
              a(href='#') 項目04
        // <p class="copyright text-center">copyright</p>
        p.copyright.text-center 本網站只供學習使用，不用於商業用途