doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title 網頁設計作品|Yuling's Porfolio 
    link(rel='stylesheet', href='public/css/style.css')
  body
    header
      .container
        .row.flex-space-between
            h1
                a(href='index.html') Yuling's Portfolio
            a.icon-menu(href="#") menu 
            nav
                ul
                    li
                        a(href='about-us.html') 關於我
                    li
                        a(href='#') 平面設計
                        ul.submenu 
                            li 
                                a(href="design-list.html") 品牌設計
                            li 
                                a(href="design-list.html")  包裝設計
                    li
                        a(href='#') 網頁設計作品
                        ul.submenu 
                            li 
                                a(href="web-design-list.html") 品牌設計
                            li 
                                a(href="web-design-list.html")  包裝設計
                    li
                        a(href='contact-us.html') 聯絡我
    .container
      .row
        ul.breadcrumb.col-12
            li
                a(href='index.html') 首頁
                &nbsp;>;&nbsp;
            li 網頁設計作品
        aside.col-3
          ul
            li
              a.btn-primary(href='') 全部 
            li
              a.btn-primary(href='') item 1
            li
              a.btn-primary(href='') item 2
            li
              a.btn-primary(href='') item 3
        main.col-9
          .row
            .col-4.text-center
              a.img-wrap(href='#')
                .img-overlay
                  img.img-fluid.img-rounded(src='https://picsum.photos/300/300', alt='')
                span.icon-new NEW
              a.text-primary(href='') 作品標題1
            .col-4.text-center
              a.img-wrap(href='#')
                .img-overlay
                  img.img-fluid.img-rounded(src='https://picsum.photos/300/300', alt='')
                span.icon-new NEW
              a.text-primary(href='') 作品標題2
            .col-4.text-center
              a.img-wrap(href='#')
                .img-overlay
                  img.img-fluid.img-rounded(src='https://picsum.photos/300/300', alt='')
              a.text-primary(href='') 作品標題3
            .col-4.text-center
              a.img-wrap(href='#')
                .img-overlay
                  img.img-fluid.img-rounded(src='https://picsum.photos/300/300', alt='')
              a.text-primary(href='') 作品標題4
            .col-4.text-center
              a.img-wrap(href='#')
                .img-overlay
                  img.img-fluid.img-rounded(src='https://picsum.photos/300/300', alt='')
              a.text-primary(href='') 作品標題5
            .col-4.text-center
              a.img-warp(href='#')
                .img-overlay
                  img.img-fluid.img-rounded(src='https://picsum.photos/300/300', alt='')
              a.text-primary(href='') 作品標題6
    footer
      .container
        .row.text-center
          dl.col-3
            dt 標題01
            dd
              a(href='#') 項目01
            dd
              a(href='#') 項目02
            dd
              a(href='#') 項目03
            dd
              a(href='#') 項目04
          dl.col-3
            dt 標題02
            dd
              a(href='#') 項目01
            dd
              a(href='#') 項目02
            dd
              a(href='#') 項目03
            dd
              a(href='#') 項目04
          dl.col-3
            dt 標題03
            dd
              a(href='#') 項目01
            dd
              a(href='#') 項目02
            dd
              a(href='#') 項目03
            dd
              a(href='#') 項目04
          dl.col-3
            dt 標題04
            dd
              a(href='#') 項目01
            dd
              a(href='#') 項目02
            dd
              a(href='#') 項目03
            dd
              a(href='#') 項目04
        p.copyright.text-center 本網站只供學習使用，不用於商業用途